<app-sidebar></app-sidebar>
<div class="container">
    <div class="content">
        <h1>Listes des logiciels</h1>
        <div class="content-filters">
            <button type="button">Filter 1</button>
            <button type="button">Filter 2</button>
            <button type="button">Filter 3</button>
            <button type="button">Filter 4</button>
        </div>
    
        <div class="content-softlist">
            @for (softList of allPublicSoftList; track $index) {
                <article class="list-container">
                    <h3> {{ softList.title }} </h3>
                    <p><small class="description">{{ softList.description }}</small></p>
                    <em class="category">{{ softList.category }}</em>
                    <p class="details">
                        <span>{{ softList.created }}</span>
                        <span>{{ softList.owner.username }}</span>
                        <span>{{ softList.lastUpdate }}</span>
                        <span>{{ softList.nbrViews }} vues</span>
                    </p>
                </article>
            }
            @empty {
                <p>Aucune liste n'est disponible.</p>
            }
        </div>
        
        <!-- TODO: not implemented -->
        <!-- <div class="pagination">
        </div> -->
    </div>

    <aside class="news">
        <h3>Nouvelles listes</h3>
    </aside>

</div>