<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<header>
    <h1>Listes des logiciels</h1>
</header>
<main>
    <!-- <div class="filters">
        <button type="button">Filter 1</button>
        <button type="button">Filter 2</button>
        <button type="button">Filter 3</button>
        <button type="button">Filter 4</button>
    </div>

    <article class="list-container">
        <h3>Titre de ma liste</h3>
        <p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus magnam laudantium repellendus neque culpa</small></p>
        <em class="category">Catégorie 1</em>
        <p class="">
            <span>Crée le 12/10/2024</span>
            <span>Crée par tony</span>
            <span>Modifié le 12/10/2024</span>
            <span>345 vues</span>
        </p>
    </article>

    <aside>
        <h3>Nouvelles listes</h3>
    </aside> -->

    <!-- TODO: not implemented -->
    <!-- <div class="pagination">
    </div> -->
</main>