:host {
    height: 100%;
}

.sidebar {
    width: 300px;
    background-color: #b1ccd8;
    height: 100%;
    padding: 2rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    li {
        user-select: none;
        list-style: none;
        margin-bottom: 2rem;

        a {
            font-size: 1rem;
            padding: 0.5rem 0.7rem;
            text-decoration: none;
            color: #675d5d;
            font-weight: 200;
            cursor: pointer;
        }

        a:hover {
            color: #101010;
            background-color: #c2e9b1;
            border-radius: 20px;
        }
    }
}