@if (userLogged) {
    <nav class="navbar">
        <div class="logo">
            <a [routerLink]="[ '/']">SolveShareSoft</a>
        </div>
        <ul>
            <li><a [routerLink]="[ '/softwares']">Logiciels</a></li>
        </ul>
        <ul>
            <!-- TODO: user profile icone -->
            <li><a (click)="logout()">Se déconnecter</a></li>
        </ul>
    </nav>
}
@else {
    <nav class="navbar">
        <div class="logo">
            <a [routerLink]="[ '/']">SolveShareSoft</a>
        </div>
        <ul>
            <li><a [routerLink]="[ '/softwares']">Logiciels</a></li>
        </ul>
        <ul class="register-login">
            <li><a [routerLink]="[ '/register']">Inscription</a></li>
            <li><a [routerLink]="[ '/login']">Connexion</a></li>
        </ul>
    </nav>
}
<app-alertpanel></app-alertpanel>