.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    border-bottom: 1px solid #747272;
    height: 4rem;

    .logo {
        a {
            font-size: 1.3rem;
            color: #5a4e4e;
            text-decoration: none;
        }
        
        a:hover {
            color: #101010;
            text-decoration: underline;
            // font-size: 1.5rem;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {
            margin-right: 20px;
            user-select: none;
            list-style: none;

            a {
                font-size: 1.3rem;
                text-decoration: none;
                color: #5a4e4e;
                transition: all 0.3s ease-out;
                cursor: pointer;
            }

            a:hover {
                color: #101010;
                text-decoration: underline;
                // font-size: 1.5rem;
            }
        }

        li:last-child {
            margin-right: 0px;
        }
    }
}

.register-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}